$title-font: 'Bebas Neue', sans-serif;
$fondo: whitesmoke;
$font: black, sans-serif;

*{ 
  padding: 0;
  margin: 0;
}
.contenedorBotonesInicio {
  background-color: black;
  width: 100%;
  height: 20rem;
}
.carrusel-item {
  height: 30rem;
}


.productosDestacados {
  font-family: $title-font;
  text-align: center;
  margin-top: 2rem;
  font-size: 28px;
}

.botonInicio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}
.botonInicioM {
  padding: 1rem;
  
}
.botonInicioM :hover {
  background-color: rgb(204, 174, 252);
  font-size: 20px;
}

.tituloCarrusel {
  font-family: $title-font;
  font-size: 32px;
}
.tituloCarruselNegro  {
  color: black;
  font-size: 32px;
  font-family: $title-font;
}
.parrafoCarrusel {
  font-family: $title-font;
}

.cuerpoIndice {
  background-color: whitesmoke;
}
.contenedor {
  background-color: black;
}

.cuerpoProductos {
  color: white;
}

body {

    font-size: 14pt;

    background-color: whitesmoke;

    color:rgb(0, 0, 0);

    min-height: 100vh;

    height: 100%;
}

a {
  color: black;
  font-size: 25px;
}

a:hover {
  color: rgb(204, 174, 252);
}

footer {
  background-color: $fondo;
  color: black;
  text-align: center;
  width: 100%;
  align-self: flex-end;
}
.logoFooter {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 8rem;
  height: 6rem;
} 


li {

  text-decoration: none;

  list-style: none;

}



h1 {

  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
  color: black;
}
h3 {
  color: black;
  padding: 2px;
  font-family: $title-font;
  font-size: 20px;

}

p {
  text-align: center;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



nav {
  color: black;
  font-size: 1rem;
  width: 100%;
  font-family: 'Bebas Neue', sans-serif;

  .navbar-brand {
    font-size: 3rem;
    padding: 1px;
    line-height: 2px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
} 
.nav-link {
  margin-top: 1rem;
  margin-right: 1rem;
}
}


.navbar-toggler {
  margin-top: 10px;
}


.accordion {
  
  text-align: center;
}


 /* CONTACTO */ 

.contenedor{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  background-color: white;
  color: black;
  .contenedor__contacto--mod {

    margin: 3rem;
    width: 30rem;
    height: 30rem;
    text-align: center;
    margin-top: 4rem;
    font-size: 25px;
  }
  
}




 /* ICONOS */ 

.iconos {

  display: flex;

  justify-content: center;

  .iconos__pie {

    padding: 6px;
   
  }
}



 /*BEM contenedor Imagenes  */ 



.contenedor {

  display: flex;

  justify-content: center;

}
.contenedor__imagenes {

  width: 100%;
 
  max-width: 1400px;
 
  margin-top: 3rem;
 
  display: flex;
 
  flex-wrap: wrap;
 
  justify-content: center;
 
 
 
 }
 
 .contenedor__imagenes--modificador{
 
   max-width: 20rem;
 
   width: 100%;
 
   margin-bottom: 1rem;
 
   margin-left: 1rem;
 
 
 }






/*BEM botones Talles */ 



.boton__opcion {

  display: flex;

  justify-content: center;

  margin-left: 4px;

}

.boton__opcion--opcion {

  padding: 2px;

  margin: 4px;

  font-size: 1rem;

  margin-left: 2px;

  background-color: whitesmoke;
  
}


.boton__opcion--titulo {

  margin: 2px;

}
.btn {
  background-color:black;
  font-family: $title-font;
  color: white;
  width: 6rem;
  border: rgb(163, 163, 163);

}

.buttonContainer :hover{
  background-color: rgb(208, 184, 248);
  color: black;
}

/* Devoluciones */ 


.devoluciones {
  margin-top: 2rem;
  padding: 1rem;
  height: 40rem;
  min-height: 100vh;

  .devoluciones__lista {
    font: sans-serif;
    text-decoration: none;
    list-style: none;
    
  }
  
  .devoluciones__lista--item {
   margin: 3px; 
  font-size: 20px;
  }
}



.card {
  color: black;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  padding: 3rem;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-size: 23px;
  
  .card-footer {
    color:whitesmoke;
    background-color: black;

}
}


.parrafo {
  font-family: sans-serif;
  font-size: 18px;
  
}


.precio {
  text-align: center;
  font-family: $title-font;
  font-size: 25px;
  margin-top: 5px;
}

.pagError {
  margin-top: 3rem;
  height: 100vh;
}


.contenedorBotones {
  background-color: black;
  margin-top: 6rem;
}
